 <!-- 5. Por default se crear el msg -->
  <!-- DEFINIR EL MODELO -->

  <!-- 6.3 Estructura tabla del modulo funcional -->


  <body>
    <div class="container-fluid">
      <div class="col-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="table-dark">#</th>
              <th class="table-dark">Nombre</th>
              <th class="table-dark">Tipo</th>
              <th class="table-dark">Region</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cafes">
              <td>
                {{c.id}}
              </td>
              <td>
                {{c.nombre}}
              </td>
              <td>
                {{c.tipo}}
              </td>
              <td>
                {{c.region}}
              </td>
          </tr>
          </tbody>
        </table>
        <h6>Total café de origen: {{totalOrigen}}</h6>
        <h6>Total café blend: {{totalBlend}}</h6>
      </div>
    </div>
    <div>

      <p >
        <br>
        <br>
        Contacts us+: 3102105223-info@elaromamagico.com - @elaromamagico</p>
    </div>

  </body>
